main{background-color: #ffffff;}
.contenido{
    border-radius: 5px;
    background-color: #afeeee;
}
section{
    margin-left: 7%;
    margin-right: 7%;
    color: #000000;
    padding-bottom: 5px;
}
h1{
    width: 300px;
    display: block;
    white-space: nowrap;
    border-right: 0px solid;
    animation: typing 2s steps(100), blink .5s infinite step-end  alternate;
    overflow: hidden;
    margin: 0px auto 0px auto;
    padding-top: 5px;
}

h2{
    width: 100%;
    margin: 0px auto 0px auto;
    text-align: center;
}
h3{
	color: #1B4F72;
	margin-top: 30px;
	margin-bottom: 0px;
}
i{
	line-height: 150%;
	font-family: Arial, "Segoe UI", serif;
}
@keyframes typing{from{width: 0;}}
@keyframes blink{50%{border-color: transparent;}}
.parrafo{text-align: justify;}
.img-menuPrincipal{
    display: block;
    /* width: 70%; */
	width: 85%;
    margin: 0px auto 0px auto;
    border-radius: 15px;
    box-shadow: 0 0 0 4px #fff, 10px 15px 20px;
}

/* carrusel personal */
.carrusel{
	display: flex;
	gap:  10px;
	justify-content: center;
}
.carrusel ul{
	list-style: none;
	margin: 0;
	padding: 0;
	max-width: 510px;
	scroll-behavior: smooth;
}
.carrusel-fotos{
	display: flex;
	gap: 10px;
    /* barra */
	overflow: auto;
}
.carrusel-fotos img{
	background: #000;
	border: 4px solid #000;
	width: 300px;
	height: 200px;
	/*ajusta la imagen completo*/
	object-fit: contain;
	/*--------------------*/
    border-radius: 3%;
}
.carrusel-menu{display: none;}
@media screen and (min-width: 500px){
	.carrusel-fotos{
		overflow: hidden;
	}
	.carrusel-fotos img{
		width: 500px;
		height: 400px;
	}
	.carrusel-menu{
		display: block;
	}
	.carrusel-menu img{
		box-sizing: border-box;
		width: 50px;
		height: 40px;
		border: 10px solid black;
		border-radius: 5px;
	}
	.carrusel-menu img:hover{
		border: none;
		outline: 2px solid #F4D03F;
	}
}
/* --------------------------------- */