main{background-color: #ffffff;}
.contenido{
    border-radius: 5px;
    background-color: #afeeee;
}
section{
    margin-left: 7%;
    margin-right: 7%;
    color: #000000;
    padding-bottom: 5px;
}
h1{
    width: 300px;
    display: block;
    white-space: nowrap;
    border-right: 0px solid;
    animation: typing 2s steps(100), blink .5s infinite step-end  alternate;
    overflow: hidden;
    margin: 0px auto 0px auto;
    padding-top: 5px;
}
@keyframes typing{from{width: 0;}}
@keyframes blink{50%{border-color: transparent;}}

h2{
    text-align: center;
}

