body{margin: 0px;}
*{box-sizing: border-box;}
header{
    background-color: #ffffff;
    text-align: center;
    padding-bottom: 5px;
}
main{
    /* borrar pilas cuando acabes */
    padding-top: 1%;
    padding-bottom: 1%;
}
footer{
    font-weight: bold;
    text-align: center;
    background-color: rgb(233, 232, 232);
    padding-top: 5px;
    margin-bottom: -22px;
}
a{text-decoration: none; color: #000000;}
.mapaSitio{
    display: block;
    margin: 0 auto -10px auto;
    width: 120px;
}
.cajaEnlacelogo{
    display: block;
    position: relative;
    width: 80px;
    top: 5%;
    left: 2%;
}
.logo{
    display: block;
    position: relative;
    width: 80px;
    top: 5%;
    left: 2%;
}
.anuncionTelefono{
	display: block;
    width: 350px;
    margin: -75px 3% auto auto;
}
.enlaceTelefono{
    display: block;
    width: 120px;
    margin: 0% 3.5% auto auto;
    font-weight: bold;
}
nav{
    width: 88%;
    display: block;
    margin: 0px 0% 0px auto;
}
.inicio{margin-left: 20px; margin-right: 20px;}
.menu{margin-left: 0px; margin-right: 20px;}
.sobreNosotros{margin-left: 0px; margin-right: 20px;}
.reservas{margin-left: 0px; margin-right: 20px;}
.contacto{margin-left: 0px; margin-right: 20px;}
a:hover{
    color: #D68910;
    box-shadow: 3px 1px 5px #e76a17;
    /*linea de lado derecho, linea de abajo, sombra, colo */
}
.fa-phone-alt{color: #e76a17;}
.contenido{
    /* borrar aqui cuando termines */
    margin-left: 10%;
    margin-right: 10%;
}
.fa-facebook-square{color: #3b5998;}
.fa-twitter-square{color: #00acee;}
.fa-instagram-square{color:  #3f729b;}
