main{background-color: #ffffff;}
.contenido{
    border-radius: 5px;
    background-color: #afeeee;
}
section{
    margin-left: 7%;
    margin-right: 7%;
    color: #000000;
    padding-bottom: 5px;
}
.container-slider{
    padding-top: 1.5%;
    border-radius: 6% 6% 7px 7px;
}
h1{
    width: 100%;
    margin: 5px auto 0px auto;
    text-align: center;
}
h2{
    width: 100%;
    margin: 0px auto 0px auto;
    text-align: center;
    color: #1B4F72;
}
/* los h1 y h2 puede ir separado por motivo que cada uno de su contenido es de un tamaño diferente */

.button-comentario{
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid #777676;
}
.div-comentarioTitulo{
    display: inline;
}
summary{
    list-style: none;
    height: 30px;
}
.summary-comentario{
    display: inline-block;
    margin-top: 5px;
}


