.ventana{
	background-color: #283747;
	width: 50%;
	/* width: 60%; */
	color: #fff;
	font-family: Arial;
	font-size: 18px;
	text-align: center;
	padding: 5px;
	min-height: 250px;
	border-radius: 5px;
	position: absolute;
    left: 25%;
    top: 15%;
	/*quita la imagen, igual sigue hay, pero con el codigo ce js podemos modificar el estado para que luego aparesca*/
	display: none;
    position: fixed;
	outline: 8px solid #fff;
}
.cerrar{
	position: absolute;
    right: 0px;
    top: 0px;
}
.a-ventaFlotante{
    display: block;
    width: 30px;
    height: 30px;
	color: #fff;
}
.a-ventaFlotante:hover{box-shadow: none;}
.div-estrellas{
	margin-bottom: 10px;
}
.div-imgPrincipal-ventanaFlotante{
	/* cambiar el tamaño por pixeles no porcentaje */
	width:50%;
	height:30%;
	margin: 10px 0px 10px 0px;
	border-radius: 5px;
	outline: 4px solid #fff;
}
